*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
   
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}




/* Estilos para el menú de navegación */

#menu {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Espacio entre el logo y el menú */
    padding: 20px 50px 20px 20px ;/* aqui estaba la falla de menu */
    background-color:  #FFBF01; /* Cambia según tu diseño */
}

.logo-container {
    display: flex;
    align-items: center; /* Alinea el logo y el texto verticalmente */
}

.logo {
    height: 40px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
}

.logo-title {
    font-size: 24px; /* Tamaño de la fuente para "Wara" */
    font-weight: bold;
    color: #333; /* Color por defecto */
}

.logo-subtitle {
    font-size: 16px; /* Tamaño de la fuente para "Grupo Inmobiliaria" */
    color: #666; /* Color por defecto */
}

input[type="checkbox"] {
    display: none; /* Oculta el checkbox */
}

.checkbtn {
    display: none; /* Oculta el botón de menú en dispositivos grandes */
}

/* Estilos para el menú */
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: #333; /* Color por defecto */
    font-weight: bold;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    padding: 5px; /* Espacio interno para el fondo y el borde */
}

ul li a:hover {
    color: #fff; /* Cambia el color del texto cuando se pasa el ratón */
    background: linear-gradient(to bottom right, #000, #fff);/* Fondo de color cuando se pasa el ratón */
    border: 2px solid #000; /* Borde negro */
    border-radius: 20px; /* Bordes redondeados opcionales */
}





/* Estilos para el logo */
.logo-title {
    font-size: 24px; /* Tamaño de la fuente para "Wara" */
    font-weight: bold;
    color: #333; /* Color por defecto */
}

.logo-title:hover {
    color: #fff; /* Cambia el color del texto cuando se pasa el ratón */
}

.logo-subtitle {
    font-size: 16px; /* Tamaño de la fuente para "Grupo Inmobiliaria" */
    color: #666; /* Color por defecto */
}

.logo-subtitle:hover {
    color: #fff; /* Cambia el color del texto cuando se pasa el ratón */
}









/* Responsivo: Mostrar el botón de menú en pantallas pequeñas */
@media (max-width: 768px) {
    .checkbtn {
        display: block;
        cursor: pointer;
    }

    ul {
        display: none; /* Oculta el menú en dispositivos móviles */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Ajusta según sea necesario */
        left: 0;
        background-color: #f8f8f8; /* Cambia según tu diseño */
    }

    input[type="checkbox"]:checked ~ ul {
        display: flex; /* Muestra el menú cuando el checkbox está marcado */
    }

    ul li {
        margin: 15px 0;
    }
}


/*segunda parte ----parte de paneles*/

    
.panel {
    position: relative;
    width: 100vw; /* Ancho completo de la ventana */
    height: 120vh; /* Altura completa de la ventana */
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
}
.panel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la proporción y cubre todo el contenedor */
    z-index: -1; /* Envía la imagen al fondo */
}
.texto {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}


/*tercera parte del codigo */


#cartass {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px; /* Ajusta el espacio entre las tarjetas */
    justify-content: center;
    align-items: start; /* Alinea las tarjetas al inicio */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 0;
    padding: 20px; /* Añade un poco de espacio interno */
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative; /* Necesario para posicionar la imagen */
}




.card a {
    text-decoration: none;
    color: inherit; /* Asegura que el texto mantenga el color heredado */
}

.card img {
    width: 5%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 40px;
}

.card-content h3 {
    border-bottom: 2px solid #FFBF01; /* Grosor y color del subrayado */
    padding-bottom: 5px; /* Espacio entre el texto y el subrayado */
    
    margin-top: 0;
    color: #333;
}

.card-content p {
    padding-top:8px;
    font-weight: bold;
    color: #1b1a1a;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.centrado {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
    margin: 70px auto; /* Agrega espacio alrededor del texto, ajusta según sea necesario */
    padding: 10px; /* Opcional: Agrega espacio dentro del contenedor alrededor del texto */
}
   
   /* se hace en carrusel de imagenes consecutivas marca gerardo xd*/
/*CUARTA PARTE DEL CODIGO */




.cards {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative; /* Necesario para posicionar la imagen */
}




.cards a {
    text-decoration: none;
    color: inherit; /* Asegura que el texto mantenga el color heredado */
}

.cards img {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.cards-content p {
    padding-top:8px;
    font-weight: bold;
    color: #1b1a1a;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}




/* QUINTA PARTE DEL CODIGO */

.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e0e0e0; /* Color de fondo opcional */
}

.subrayado {
    position: relative;
    margin-bottom: 20px; /* Espacio entre el texto subrayado y los cuadrados */
}

.subrayado h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subrayado::after {
    content: "";
    display: block;
    height: 5px; /* Alto del subrayado */
    width: 150px; /* Ancho del subrayado */
    background-color: #FFBF01; /* Color del subrayado */
    position: absolute;
    bottom: -10px; /* Ajusta la posición vertical del subrayado */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el subrayado */
}

.galeria {
    display: flex;
    flex-wrap: wrap; /* Permite que los cuadrados se ajusten en filas */
    justify-content: center; /* Centra los cuadros horizontalmente */
    gap: 20px; /* Espacio entre los cuadros */
    width: 100%;
    max-width: 800px; /* Ancho máximo para la galería */
    padding-top:100px ;
}

.cuadro-imagen {
    width: 200px; /* Ancho fijo para los cuadros de imagen */
    height: 200px; /* Alto fijo para los cuadros de imagen */
    background-color: #f4f4f4; /* Fondo opcional para los cuadros */
    border: 1px solid #ccc; /* Borde opcional para los cuadros */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para los cuadros */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro-imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el área del cuadro sin distorsionar */
}












/* SEXTA PARTE DEL CODIGO */

.CONTACTO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e0e0e0; /* Color de fondo opcional */
}

.subrayado {
    position: relative;
    margin-bottom: 20px; /* Espacio entre el texto subrayado y el mapa */
}

.subrayado h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subrayado::after {
    content: "";
    display: block;
    height: 5px; /* Alto del subrayado */
    width: 150px; /* Ancho del subrayado */
    background-color: #FFBF01; /* Color del subrayado */
    position: absolute;
    bottom: -10px; /* Ajusta la posición vertical del subrayado */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el subrayado */
}

.UBICACION {
    width: 100%;
    max-width: 800px; /* Ancho máximo para el mapa */
    height: 400px; /* Alto del mapa */
    border: 1px solid #ccc; /* Borde opcional para el contenedor del mapa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para el contenedor del mapa */
}

.UBICACION iframe {
    width: 100%;
    height: 100%;
    border: 0; /* Elimina el borde del iframe */
}





/* SEPTIMA PARTE DEL CODIGO */


.stats {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    padding: 20px;
    background-color:#FFBF01;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 100%;
}

.stat {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.number {
    font-size: 3em;
    font-weight: 700;
    color: #333;
}

.label {
    font-size: 1.2em;
    color: #666;
}

/* Add animations */
@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.stats .stat {
    animation: countUp 1s ease-out;
}









/* octavo PARTE DEL CODIGO */

.NOSOTROS {
    display: flex;
    justify-content: center; /* Centra los cuadros horizontalmente */
    align-items: center; /* Centra los cuadros verticalmente */
    width: 100vw; /* Ocupa todo el ancho del viewport */
    height: 100vh; /* Ocupa toda la altura del viewport */
   
    box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
}

.cuadro{
    width: 100%; /* Ancho fijo para los cuadros */
    height: 100%; /* Alto fijo para los cuadros */
    display: flex;
    justify-content: center; /* Centra el contenido dentro del cuadro */
    align-items: center; /* Centra el contenido verticalmente */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para los cuadros */
    background-color: #f4f4f4; /* Fondo opcional para los cuadros */
   
}

.cuadro h2, .cuadro h3, .cuadro p {
    margin:0; /* Elimina el margen predeterminado */
    padding: 30px 40px; /* Espacio vertical entre elementos */
    text-align: center; /* Centra el texto dentro del elemento */
    font-family: 'Retroica', sans-serif;
}



.imagen img {
    max-width: 100%; /* Ajusta la imagen para que no exceda el ancho del cuadro */
    max-height: 100%; /* Ajusta la imagen para que no exceda la altura del cuadro */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del cuadro sin distorsionar */
}




/* noveno PARTE DEL CODIGO */
.ultimo-texto {
    display: flex;
    justify-content: center; /* Centra los cuadrados horizontalmente */
    align-items: center; /* Centra los cuadrados verticalmente si tienen diferente altura */
    width: 100vw;
    height: 100vh;
    
    box-sizing: border-box;
    background-color: #f0f0f0; /* Color de fondo opcional */
}

.cuadro-texto {
    width: 100%; /* Ancho fijo para los cuadros de texto */
    height: 100%; /* Alto fijo para los cuadros de texto */
    background-color: #fff; /* Fondo blanco para los cuadros */
    
    justify-content: center; /* Centra el contenido dentro del cuadro horizontalmente */
    align-items: center; /* Centra el contenido dentro del cuadro verticalmente */
    padding: 50px;
    box-sizing: border-box;
}

.cuadro-texto h3  {
    margin: 20px;
    font-size: 1rem; /* Tamaño de la fuente para el texto */
    padding: 30px 40px; /* Espacio vertical entre elementos */
    text-align: center; /* Centra el texto dentro del cuadro */
    font-family: 'Retroica', sans-serif;
}

.cuadro-texto P  {
    margin: 20px;
    font-size: 1rem; /* Tamaño de la fuente para el texto */
    padding: 30px 40px; /* Espacio vertical entre elementos */
    text-align: center; /* Centra el texto dentro del cuadro */
    font-family: 'Retroica', sans-serif;
}



.contact-info, .empleos, .contact-form, .additional-info {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px,0 ;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.6rem;
    left: 0;
}



@media (max-width:700px) {
    .slider-box{
        width: 100%;
    }
}